*.~
*.old
*.bak
*.orig

.*
*.o
*.o.*

modules.builtin

*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno

/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers

.gitignore
!.gitignore
!.mailmap
manual
out/
prebuilts/
mediatek/misc/

